.mainContainer {
  width: 90vw;
  background-color: #222222;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: rgb(0, 0, 0, 0.5) 30px 30px 30px;
}

.flexContainer {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.passwordBox {
  width:90vw;
  padding: 1vmax;
  background-color: #3F3F3F;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.password {
  margin: 1.5vmax;
  margin-left: 2vmax;
  font-weight: 400;
  font-size: 2vmax;
  overflow: scroll;
}

.panelsContainer {
  display: flex;
  margin: 1vmax;
}

@media screen and (max-width: 1024px) {
  .panelsContainer {
    flex-direction: column;
  } 
}

.panelTitleIcon {
  color: white;
  font-size: 3vmax;
  display: flex;
  align-items: center;
}

.panelTitle {
  margin-left: 1rem;
  font-weight: 800;
}

.panel {
  margin: 2rem;
  margin-top: 1rem;
}

.generateYourPassword {
  color: white;
  margin: 1rem;
  margin-left: 2rem;
  font-size: 3vmax;
  font-weight: 900;
}

.lengthSlider {
  margin-top: 1rem;
}

.lengthIndicator {
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.characterPanelItem {
  margin-top: 5px;
  display: inline;
}

.characterPanelSelect {
  margin-top: 1rem;
}

.characterPanelTextarea {
  margin-top: 1rem;
  color: white;
}

.strengthBar {
    margin-top: 1rem;
}

.passwordBoxUtils {
  display: inline-flex;
}

.passwordBoxItem {
  margin-left: 20px;
}

/* 
Task: Refactor all this code, changing all length values to its respective vh/vw/vmax/etc value.
So that the page is responsive.
*/

