.mainContainer {
  width: 80rem;
  height: 40rem;
  background-color: #222222;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: rgb(0, 0, 0, 0.5) 30px 30px 30px;
}

.flexContainer {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.passwordBox {
  width:80rem;
  background-color: #3F3F3F;
  height: 10vh;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.password {
  margin: 1rem;
  margin-left: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.panelsContainer {
  display: flex;
  margin: 10px;
}

.panelTitleIcon {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.panelTitle {
  margin-left: 1rem;
  font-weight: 800;
}

.panel {
  margin: 2rem;
  margin-top: 1rem;
}

.generateYourPassword {
  color: white;
  margin: 1rem;
  margin-left: 2rem;
  font-size: 3vmax;
  font-weight: 900;
}

.lengthSlider {
  margin-top: 1rem;
}

.lengthIndicator {
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.characterPanelItem {
  margin-top: 5px;
  display: inline;
}

.characterPanelSelect {
  margin-top: 1rem;
}

.characterPanelTextarea {
  margin-top: 1rem;
  color: white;
}

.strengthBar {
    margin-top: 1rem;
}

.passwordBoxUtils {
  display: inline-flex;
}

.passwordBoxItem {
  margin-left: 20px;
}